<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link href="" crossorigin="anonymous">
  <title>メモ帳</title>
</head>
<body>
  <div class="container">
    <h1 class="mb-4">メモ帳</h1>
    <%= yield %>
  </div>

</body>
</html>
